.header{
    background-color: aliceblue;
    width: 100%;
    margin: auto;
    height: 50px;
    // margin-top: 10px;
    border-radius: 10px;
    display: flex;
    box-shadow: 1px 2px 6px 0px grey;
}