
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 3px;
    background-color: #fafafa;
}

.left-section {
    display: flex;
    align-items: center;
    // background-color: red;
    // gap: 5px;
}
.menu-btn{
    margin: 15px;
}
.search-bar {
    flex: 1;
    margin-top: 4px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #ccc;
    max-width: 250px;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1px;
}

.icon-btn {
    background: none;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}