.container-upload{
    display: flex;
    // background-color: red;
    // gap: 20px;
   
}
.container-uploadFile {
    display: flex;
    flex-direction: column;
    height: 90vh;
    /* ou une hauteur fixe en px si nécessaire */
    border: 1px solid #ccc;
    /* juste pour visualiser */
    padding: 1rem;
}

.div-button-fixed {
    display: flex;
    gap: 84px;
    margin-top: auto;
}
.container-upload1-left{
    // background-color: pink;
    // border-radius: 15px;
    width: 40%;
    display: flex;
    // gap: 20px;
    flex-direction: column;
    padding: 5px;
    .child-top{
        // background-color: green;
        height: 40px;
        width: 100%;
        // border-radius: 15px;
    }
    .child-bottom{
        padding: 10px;
        // background-color: blue;
        height: calc(90vh - 40px);
        width: 100%;
        .container-uploadFile{
            // height: 100%;
                background-color: #f3f36c;
                border-radius: 5px;
            // background-color: red;
            .container-button{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                background-color: blue;
                border-radius: 15px;
            }
        }
    }
}
.container-upload1-right{
    width: 60%;
    // border-radius: 18px;
    height: 100vh;
    // background-color: red;
    overflow: hidden;
}