.container-upload{
    display: flex;
    background-color: red;
    gap: 10px;
}
.container-upload1-left{
    background-color: pink;
    width: 40%;
}
.container-upload1-right{
    width: 60%;
    border-radius: 20px;
    height: 85vh;
    background-color: blue;
}